body{
    background-color: black;
    margin: 0;
    padding: 0px;
    font-family: 'Helvetica';
    color: black;
}


.container{
    display: flex;
    height: auto;
    width: 100vw;
}


.heading{
    height: 70px;
    z-index: 1;
    display: flex;
    background-color: black;
    color: #e0fbfc;
    text-align: center;
    position: fixed;
    width: 100%;
    font-family: 'Helvetica';
    font-weight: 100;
}

.logo{
    width: 160px;
    height: 100%;
    overflow: hidden;
    margin-left: -10px;
}
.logo img{
    height: 80px;
    width: 80px;
    margin-top: -5px;
    object-fit: contain;
    
}
.mini_logo img{
    background-color: black;
    height: 10px;
    width: 10px;
}
.top_navigation{
    width: 700px;
    height: 32%;
    overflow: hidden;
    padding: 24px;
    font-size: 20px;
}

.top_navigation a{
    color: #e0fbfc;
    text-decoration: none;
    margin-right: 50px;
}

.about_top:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-position: under;  
    color: #ee6c4d;
}



.login_logout{
    height: 100%;
    padding-left: 350px;
    display: flex;
    font-size: 20px;
    overflow: hidden;
}
.login_header{
    height: 32%;
    width: 50px;
    padding: 24px;
}
.login_header a{
    color: #e0fbfc;
    text-decoration: none;
}
.login_header:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-position: under;   
    color:#ee6c4d; 
    
}
.login_header a:hover{
    color:#ee6c4d; 
}


.sign_up_center{
    position: absolute;
    margin-top: 20px;
    width: 100px;
    height: 29px;
    border: 1.5px solid #293241;
    padding-top: 4px;
}
.sign_up_center a{
    color: #e0fbfc;
    text-decoration: none;
}
.sign_up_center:hover{
    /* background-color: #98c1d9; */
    border: 1px solid white;
    text-underline-position: under; 
}
.sign_up_center a:hover{
    color:#ee6c4d;
}






.main_content{
    margin-top: 9vh;
    height: 91vh;
    width: 100vw;
    /* background-color: yellow; */
    display: flex;
}
.left_content{
    height: 91vh;
    width: 15vw;
}
.logo_content{
    height: 7vh;
    width: auto;
    /* background-color: green; */
    align-items: center;
    overflow: hidden;
    margin-top: 3vh;
    display: flex;
}

.main_logo_second{
    background-color: white;
    object-fit: contain;
    height: 7vh;
    width: 4vw;
    justify-content: center;
    align-items: center;
    margin-left: 0.5vw;
}
.main_logo_second h1{
    font-size: 5px;
    color: white;
}
.page_name{
    /* background-color:#ee6c4d; */
    height: 7vh;
    width: auto;
    font-size: 13px;
    margin-left:0.25vw;
    color:white;
}
.left_content hr{
    margin-left: 1.25vh;
    margin-right: 2vh;
}




.admin_container{
    height: 7vh;
    width: 20vh;
    margin-left: 1vh;
    /* background-color: blue; */
    margin-top: 1vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.admin_container:hover{
    border: 2px solid #ee6c4d;
    border-radius: 10px;
}
.small_img{
    height: 7vh;
    width: 4vw;
    background-color: black;
    /* margin-left: 0.5vw; */
}
.small_img img{
    height: 6vh;
    width: 6wh;
    margin-top: 1vh;
    margin-left: 1vh;
}
.small_text{
    margin-left: 0.25vw;
    font-size: 20px;
}
.small_text a{
    text-decoration: none;
    font-family: 'Helvetica';
    font-weight: bold;
    color: white;
}














.right_content{
    background-color: aqua;
    height: 91vh;
    width: 87vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_content_right{
    height: 90%;
    width: 90%;
    background-color: red;
}
.upper_content{
    background-color: green;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upper_content button{
    height: 6vh;
    width: 6vw;
}
.delete_button{
    background-color: #ee6c4d;
}
.lower_content{
    background-color:brown;
    width: 100%;
    height: 72vh;
    display: flex;
}
.table_update{
    background-color: yellow;
    width: 25%;
    height: 72vh;
}