<html>
    <head>
        <title>Doctor</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/dashboard_static.css')}}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>

    <body>
        <div class="container">
            <div class="heading">
                <div class="logo">
                    <img src="static/images/white_logo_crop.jpg"  class="mini_logo">
                </div>

                <div class="top_navigation">
                    <a href="{{ url_for('home_page')}}" class="about_top">About</a>
                    <a href="#Research" class="about_top">{{session.user}}Research</a>
    
                    {% if 'user' in session %}
                        <a href="{{ url_for('check_up')}}" class="about_top">Checkup</a>
                        <a href="{{ url_for('doctor')}}" class="about_top">Doctor</a>
                    {% elif 'admin' in session %}
                        <a href="{{ url_for('check_up')}}" class="about_top">Checkup</a>
                        <a href="{{ url_for('doctor')}}" class="about_top">Doctor</a>
                        <a href="{{ url_for('user_dashboard')}}" class="about_top">Dashboard</a>
                    {% endif %}
                </div>

                <div class="login_logout">
                    <div class="login_header">
                        {% if 'user' not in session and 'admin' not in session%}
                            <a href="{{ url_for('user_type')}}">Login</a>
                        {% endif %}
                    </div>
                    <div class="sign_up_header">
                        <div class="sign_up_center">
                            {% if 'user' not in session and 'admin' not in session %}
                                <a href="{{ url_for('sign_up') }}">Sign up &#8599</a>
                            {% else %}
                                <a href="{{ url_for('log_out') }}">Log out &#8599</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="main_content">
                <div class="left_content">
                    <div class="logo_content">
                        <div class="main_logo_second">
                            <img class="mini_logo" src="static/images/dashboard.png">
                        </div>
                        <div class="page_name">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                    <hr>
                    <div class="admin_tabs">
                        <div class="admin_container">
                            <div class="small_img">
                                <img class="right_img" src="static/images/customer.png">
                            </div>
                            <div class="small_text">
                                <a href="{{ url_for('user_dashboard') }}">User</a>
                            </div>
                        </div>

                        <!-- <div class="admin_container">
                            <div class="small_img">
                                <img class="right_img" src="static/images/data.png">
                            </div>
                            <div class="small_text">
                                <a href="#Data">Data</a>
                            </div>
                        </div> -->

                        <div class="admin_container">
                            <div class="small_img">
                                <img class="right_img" src="static/images/admin.png">
                            </div>
                            <div class="small_text">
                                <a href="{{ url_for('admin_data')}}">Admin</a>
                            </div>
                        </div>

                        <div class="admin_container">
                            <div class="small_img">
                                <img class="right_img" src="static/images/doctor.png">
                            </div>
                            <div class="small_text">
                                <a href="{{ url_for('doctor_data') }}">Doctor</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right_content">
                    <div class="main_content_right">
                        <div class="upper_content">
                            <h1>USER DASHBOARD</h1>
                        </div>
                        
                        <div class="lower_content">
                            <div class="table_update">
                                <div class="table_form">
                                    <div class="data_insert_form">
                                        <form method="POST" action="{{ url_for('user_insert')}}">
                                            <div class="data_insert_block">
                                                <input type="text" name="user_id" placeholder="user_id">
                                            </div>
                                            <div class="data_insert_block">
                                                <input type="text" name="name" placeholder="Name">
                                            </div>
                                            <div class="data_insert_block">
                                                <input type="text" name="password" placeholder="Password">
                                            </div>
                                            <div class="data_insert_block">
                                                <input type="text" name="city" placeholder="City">
                                            </div>
                                            <div class="data_insert_block">
                                                <input type="submit" name="input_btn" value="Insert">
                                            </div>
                                            <div class="data_insert_block">
                                                <input type="submit" name="input_btn" value="Update">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="table_content">
                                <table class="table" style="width:90%">
                                    <tr clas="table__header">
                                        <th class="table__cell">Cust_id</th>
                                        <th>Name</th>
                                        <th>Password</th>
                                        <th>City</th>
                                        <th>Delete</th>
                                    </tr>
                                    {%for row in data %}
                                    <tr class="cell__header">
                                        <td>{{ row['cust_id'] }}</td>
                                        <td>{{ row['name'] }}</td>
                                        <td>{{ row['password'] }}</td>
                                        <td>{{ row['city'] }}</td>
                                        <td>
                                            <div class="delete_container">
                                                <form class="delete_form" method="post" action="{{ url_for('delete_cust', cust_id=row['cust_id']) }}">
                                                    <input class="material-icons" type="submit" name="delete" value=&#xe872;>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>